.bg-color {
    background-color: #008080;
}

body {
    background-color: #f5f5f5;
    color: #333333;
}

a {
    color: hsla(199, 100%, 69%, 0.979) !important;
    text-decoration: none !important;
}

a:hover {
    color: #008080 !important;
}

.grid-container {
    /* background-color: brown; */
}


.sidebar{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    background-color: #333333;
    height: 100vh;
    gap: 20px;

}
